.popup {
    
    align-items: flex-start;
    justify-content: center;
  
    display: none;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 99999999;
    &.is-open {
        display: flex;
        
    }
    @media screen and (min-width: $size_sm) {
        padding-top: 50px;
       
    }
    &__wrapper {
        position: relative;
    }
    &__inner {
        display: inline-flex;
        position: relative;
    }
    &__container {
        padding: 30px 35px;
        background-color: $colorWhite;
        &_login {
            max-width: 100%;
            @media screen and (min-width: $size_sm) {
               
                max-width: 755px;
            }
        }
        &_callback {
            width: 100%;
            @media screen and (min-width: $size_xs) {
               
                width: 380px;
            }
        }
    }
    &__row {
        @include row-flex();
        background-color: $colorWhite;
    }
    &__item {
        @include col();
        @include size(12);
        @include size-sm(6);
        
    }
    &__text {
        color: #3b3b3b;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__close  {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        position: absolute;
        right: 10px;
        top: 10px;  
        z-index: 99;   
        @media screen and (min-width: $size_sm) {
            right: -40px;
            top: -40px;
            .icon {
                &::before {
                    color: $colorWhite;
                }
            }
        }
        .icon {
            font-size: 25px;
            &::before {
                color: $colorBlack;
            }
        }
    }
}
.popup-form {
    
    width: 100%;
    
    background-color: $colorWhite;
    &_callback {
        max-width: 380px;
        padding: 28px 40px 47px;
    }
    &_login {
        max-width: 755px;
        margin-bottom: 25px;
        @media screen and (min-width: $size_sm) {
            padding-right: 40px;
            margin-bottom: 0;
        }
    }
    &__label {
        font-size: 14px;
        margin-bottom: 15px;
        color: #3b3b3b;
        display: inline-flex;
    }
    &__input {
        display: inline-flex;
        padding: 0 15px;
        line-height: 40px;
        width: 100%;
        height: 40px;
        border: 1px solid #d2d2d2;
        margin-bottom: 16px;
        &[type="password"]{
            margin-bottom: 28px;
        }
    }
    &__input-wrapper {
        position: relative;
    }
    &__checkbox-wrapper {
        margin-bottom: 24px;
        position: relative;
    }
    &__checkbox-mark {
        width: 16px;
        height: 16px;
        background-color: $colorWhite;
        border: 1px solid #d2d2d2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all .1s ease-in-out;
        margin-right: 5px;
        .icon {
            transition: all .1s ease-in-out;
            &::before {
                color: transparent;
            }
        }
    }
    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__links {
        margin-bottom: 25px;
    }
    &__link {
        color: #3d3d3d;
        font-size: 14px;
        text-decoration: underline;
        &:last-child {
            padding-left: 20px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__submit {
        font-size: 14px;
        color: $colorWhite;
        padding: 19px 28px;
        margin: 0 auto;
        display: block;
    }
}
.login-links {
    
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $size_sm) {
        padding-left: 40px;
    }
}
.login-link {
    padding: 17px 33px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
        margin-bottom: 23px;
    }
    &_fb {
        background-color: #3b5998;
    }
    &_tw {
        background-color: #41abe1;
    }
    &_gg {
        background-color: #ea4335;
    }
    span {
        font-size: 14px;
        color: $colorWhite;
        padding-left: 10px;
    }
}
.popup-form {
    input[type=checkbox]:checked ~ .popup-form__checkbox-mark {
        background-color: $colorOrange;
        border-color: $colorOrange;
    }
    input[type=checkbox]:checked ~ .popup-form__checkbox-mark .icon{
        &::before {
            color: $colorWhite;
        }
    }
}